.gallery {
  background-color: #f5f7f8;
  padding: 2%;
}
.gallery-container {
  background-color: #fff;
  box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin: 3% 3% 2% 3%;
}
.gallery-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2% 4% 1% 4%;
  border-bottom: 2px solid #f7f7f7;
}
.check-icon{
    color: #007bff;
    font-size: 21px;
    margin-right: 11px;
}
.gallery-header p {
    font-size: 20px;
}
.gallery-header button {
  font-size: 20px;
  color: red;
  border: none;
  background-color: #fff;
  text-align: right;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: 25px;
  padding: 4%;
}

.image-container > div {
  background: #fff;
  height: 100%;
  position: relative; /* Added to create a stacking context */
}

.image {
  border: 2px solid #f0f0f0;
  overflow: hidden;
  border-radius: 7px;
  position: relative; 
}

/* Hide the checkbox by default */
.image input[type="checkbox"] {
  display: none;
  top: 16px;
  left: 16px;
  width: 23px;
  height: 23px;
  position: absolute;
}

.image:hover input[type="checkbox"] {
  display: block;
}

.image:hover img{
  background-color: #f7f7f7;
  opacity: 0.4;
}

.image:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.image input[type="checkbox"] + label {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 23px;
  height: 23px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

/* Style the checkbox when it's checked */
.image input[type="checkbox"]:checked {
  background: #007bff;
  border: 1px solid #007bff;
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 23px;
  height: 23px;
}

.addImages{
    border: 2px dashed #f0f0f0;
    background-color: #f7f7f7 !important;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
}
.addImages .icon{
    font-size: 26px;
    margin-top: 50%;
}
.addImages p{    
    font-size: 21px;
}

/* responsive */
@media (max-width: 768px) {
    .image-container  {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
 
      .gallery-header button{
         text-align: left;
      }
  }
  
  @media (max-width: 480px) {
    .image-container  {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

      .gallery-header button{
        text-align: left;
     }
  }